Flask
pandas
numpy
scikit-learn
scikit-learn-extra    # for KMeans with sample_weight support
shapely
foliumgunicorn
flask
flask-cors
numpy
pandas
requests
joblib
scikit-learn
shapely
alphashape
scipy
patsy
dimod
dwave-neal
